@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-cover {
  border-radius: 67px 0px 67px 67px;
}

.update {
  border-radius: 53.5px 53.5px 53.5px 0px;
}

.yellow-radius {
  border-radius: 0px 58px 58px 58px;
}

.phone-yellowbg {
  border-radius: 0px 58px 58px 58px;
}

article.open {
  background: white;
}

article.open h3 {
  color: rgb(31, 41, 45);
}

article.open .extra {
  display: flex;
}

.swiper-wrapper {
  height: 90%;
}

.swiper-pagination-bullet {
  background-color: gray;
}

article.goTop {
  margin-top: 5rem;
  background: red;
}

.show {
  transform: translateX(0);
}
